@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.hero__image {
  height: 22rem;
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  @include tablet {
    height: 50rem;
    flex-direction: column;
    justify-content: center;
  }
  @include desktop {
    height: 55rem;
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $BandSite-Black;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-left: 10px;
    display: flex;
    font-weight: 600;
    font-size: 1.9375rem;
    flex-wrap: wrap;
    color: $White;
    z-index: 2;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      @include main-header;
      padding-left: 20px;
    }
    @include desktop {
      padding-left: 102px;
    }
  }
}

.about {
  @include mobile-section-header;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  // align-content: center;

  &__image {
    width: 100%;

    @include tablet {
      width: 70vw;
      margin: 0 auto;
    }
    &__container {
      // padding-left: 3.875rem;
      padding: 0 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    @include mobile-subheader;

    line-height: 1.3rem;
    color: $BandSite-Black;
    width: 100%;
    font-weight: 600;

    @include tablet {
      width: 70vw;
      font-size: 1.85rem;
      line-height: 3rem;
    }
    @include desktop {
      width: 61vw;
      font-size: 26px;
      line-height: 3rem;
    }
  }

  &__lowertext {
    @include tablet {
      line-height: 10px;
      font-weight: 600;
      font-size: 24px;
    }
    @include desktop {
      line-height: 10px;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    // position: relative;
    // left: -1.9375rem;
    color: #323232;

    @include tablet {
      @include main-header;
      font-weight: 600;
      display: flex;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  @include tablet {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  // content title
  &__title {
    padding: 0 1rem;

    @include tablet {
      font-size: 1.9375rem;
      line-height: 2.75rem;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      color: black;
    }

    @include desktop {
      font-size: 25px;
      color: black;
      font-weight: 600;
    }
  }

  // content paragraph
  &__paragraph {
    @include mobile-body;

    @include tablet {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding-right: 2.5rem;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      padding-left: 9rem;
      width: 100%;
      flex-direction: column;
    }
    @include desktop {
      padding-left: 13rem;
    }
  }
}

// gallery styling
.gallery {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  padding: 0 1rem;
  background-color: rgba(175, 175, 175, 0.1019607843);
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

  @include tablet {
    padding: 2rem;
    justify-content: center;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 600;
    @include tablet {
      @include main-subheader;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    @include desktop {
      width: 80%;
    }
  }

  &__img {
    display: flex;
    padding-bottom: 1.25rem;
    gap: 10%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;

    @include tablet {
      display: flex;
      padding: 0.5rem;
      flex-direction: row;
      width: 30%;
    }
  }
}

.forms {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  padding: 0 1rem;
  &__container {
    margin: 0 1rem;
    border-bottom: solid $Silver 2px;
    padding-bottom: 0.9375rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 0 8rem;
    }

    @include desktop {
      padding: 0 25%;
    }
  }
  &__avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__content {
    // padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0.9375rem;
  }

  &__input-container {
    color: #afafaf;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  &__input {
    font-family: "avenir";
    color: black;
    padding-top: 0;
    width: 100%;
    border-radius: 4px;
    padding: 12px;
  }
  &__name {
    padding-bottom: 10px;
  }

  &__button {
    color: $White;
    font-weight: 600;
    background-color: $BandSite-Black;
    border-radius: 4px;
    width: 100%;
    height: 2.5rem;
    @include tablet {
      width: 30%;
    }
    &-outer {
      @include tablet {
        width: 83%;
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
      }
    }
    &:hover {
      background-color: black;
      color: $White;
    }
  }
  &__fieldset {
    display: flex;

    padding-bottom: 1.25rem;

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
    @include desktop {
      display: flex;
    }
  }
  &__header {
    font-size: 1.5625rem;
    font-weight: 600;
    @include desktop {
      // padding-left: 8rem;
      font-size: 2.5625rem;
      font-weight: 600;
    }
  }
}

.comments {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  @include tablet {
    padding: 0 8rem;
  }
  &__wrapper {
    border-bottom: solid $Silver 2px;
    display: flex;
    gap: 1rem;
    @include desktop {
      margin: 0 25%;
    }
  }
  &__date {
    color: $Silver;
    display: flex;
    flex-direction: row;
  }
  &__container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__content-outer {
    // padding-left: 25px;
    border-bottom: solid $Silver 2px;
    margin-bottom: 20px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-top: 0.5rem;
  }

  &__content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 100%;
    @include tablet {
      display: flex;
      line-height: 20px;
    }
  }
}
