@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: #323232;
  margin: 0;
}

.header {
  padding: 0.5rem;
  gap: 1rem;
  background-color: #323232;
  text-decoration: none;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .header {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.25rem;
  }
}
.header__logo {
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.25rem;
  }
}
.header__nav {
  display: flex;
  gap: 4rem;
  margin: 0;
}
.header__nav-link {
  color: #e1e1e1;
  text-decoration: none;
  padding-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
  position: relative;
  flex: 1;
}
.header__nav-link:hover::after, .header__nav-link:focus::after {
  border-bottom: 2px solid #ffffff;
  content: "";
  position: absolute;
  inset: 0;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-link {
    font-size: 1rem;
    padding-right: 0;
  }
}
.header__nav-link.active {
  color: #ffffff;
  font-weight: 700;
}
.header__nav-link.active::after {
  border-bottom: 2px solid #ffffff;
  content: "";
  position: absolute;
  inset: 0;
}

.footer {
  display: flex;
  background-color: #323232;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  text-decoration: none;
  padding: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    display: flex;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 767px) {
  .footer {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
.footer__logo {
  padding-top: 20px;
  position: relative;
  left: 0;
  top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    left: 35rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    left: 60rem;
  }
}
.footer__legal {
  padding-top: 10px;
  display: flex;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    font-weight: 400;
    font-size: 0.875rem;
    position: relative;
    left: -12rem;
    top: 0.625rem;
  }
}
.footer__email {
  text-decoration: none;
  color: #ffffff;
}
.footer__icons {
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    position: relative;
    left: -25px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__company {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-weight: 600;
    font-size: 2.5625rem;
    padding-right: 5.125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }
}
.footer__text {
  padding: 0;
}
.footer__mid-section {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__mid-section {
    gap: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.hero__image {
  height: 22rem;
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 50rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 55rem;
  }
}
.hero__image__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__image__title {
  padding-left: 10px;
  display: flex;
  font-weight: 600;
  font-size: 1.9375rem;
  flex-wrap: wrap;
  color: #ffffff;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero__image__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image__title {
    padding-left: 102px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 767px) {
  .about {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
.about__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 70vw;
    margin: 0 auto;
  }
}
.about__image__container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__text {
  line-height: 1.3rem;
  color: #323232;
  width: 100%;
  font-weight: 600;
}
@media (min-width: 767px) {
  .about__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 70vw;
    font-size: 1.85rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    width: 61vw;
    font-size: 26px;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about__lowertext {
    line-height: 10px;
    font-weight: 600;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .about__lowertext {
    line-height: 10px;
    font-weight: 600;
    font-size: 18px;
  }
}
.about__title {
  font-weight: 600;
  font-size: 25px;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-weight: 600;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 2.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
.content__title {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 1.9375rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    color: black;
  }
}
@media screen and (min-width: 1280px) {
  .content__title {
    font-size: 25px;
    color: black;
    font-weight: 600;
  }
}
@media (min-width: 767px) {
  .content__paragraph {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .content__container {
    display: flex;
    padding-left: 9rem;
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .content__container {
    padding-left: 13rem;
  }
}

.gallery {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  padding: 0 1rem;
  background-color: rgba(175, 175, 175, 0.1019607843);
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 2rem;
    justify-content: center;
  }
}
.gallery__title {
  font-size: 1.875rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.gallery__item {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: 80%;
  }
}
.gallery__img {
  display: flex;
  padding-bottom: 1.25rem;
  gap: 10%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    width: 30%;
  }
}

.forms {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  padding: 0 1rem;
}
.forms__container {
  margin: 0 1rem;
  border-bottom: solid #afafaf 2px;
  padding-bottom: 0.9375rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .forms__container {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .forms__container {
    padding: 0 25%;
  }
}
.forms__avatar {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.forms__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0.9375rem;
}
.forms__input-container {
  color: #afafaf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 20px;
}
.forms__input {
  font-family: "avenir";
  color: black;
  padding-top: 0;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
}
.forms__name {
  padding-bottom: 10px;
}
.forms__button {
  color: #ffffff;
  font-weight: 600;
  background-color: #323232;
  border-radius: 4px;
  width: 100%;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .forms__button {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .forms__button-outer {
    width: 83%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
}
.forms__button:hover {
  background-color: black;
  color: #ffffff;
}
.forms__fieldset {
  display: flex;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .forms__fieldset {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .forms__fieldset {
    display: flex;
  }
}
.forms__header {
  font-size: 1.5625rem;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .forms__header {
    font-size: 2.5625rem;
    font-weight: 600;
  }
}

.comments {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 0 8rem;
  }
}
.comments__wrapper {
  border-bottom: solid #afafaf 2px;
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 1280px) {
  .comments__wrapper {
    margin: 0 25%;
  }
}
.comments__date {
  color: #afafaf;
  display: flex;
  flex-direction: row;
}
.comments__container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comments__content-outer {
  border-bottom: solid #afafaf 2px;
  margin-bottom: 20px;
}
.comments__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-top: 0.5rem;
}
.comments__content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.comments__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments__content {
    display: flex;
    line-height: 20px;
  }
}/*# sourceMappingURL=bio.css.map */