@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: #323232;
}

@media screen and (min-width: 320px) {
  .header {
    background-color: #323232;
    text-decoration: none;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1.25rem;
  }
}
.header__logo {
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.25rem;
  }
}
.header__navlinks {
  display: flex;
}

@media screen and (min-width: 320px) {
  .header__navlinks a {
    text-align: center;
    display: flex;
    color: #afafaf;
    text-decoration: none;
    padding: 0.625rem 2.9375rem;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
  }
  .header__navlinks a:hover {
    color: #FFFFFF;
    border-bottom: 0.125rem white solid;
  }
}
@media screen and (min-width: 768px) {
  .header__navlinks a {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__navlinks a {
    font-size: 0.875rem;
    padding-right: 0;
  }
}

.hero__image {
  width: 100%;
  height: 50vh;
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__image {
    display: flex;
    height: 31.25rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 37.5rem;
  }
}
.hero__image__overlay {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__image__title {
  font-weight: 400;
  display: flex;
  font-size: 1.9375rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  position: relative;
  top: 0.25rem;
  left: 0.625rem;
  z-index: 2;
}
@media (min-width: 767px) {
  .hero__image__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .hero__image__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    top: 0.25rem;
    left: 0.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image__title {
    position: relative;
    top: -3.0625rem;
    left: 6.5625rem;
  }
}

@media screen and (min-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .about {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) {
  .about__image {
    position: relative;
    left: -2rem;
    width: 100%;
    margin: 0rem;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .about__image {
    width: 70vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) {
  .about__image__container {
    padding-left: 3.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) {
  .about__text {
    color: #323232;
    position: relative;
    left: -1.9375rem;
    width: 100%;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) and (min-width: 767px) {
  .about__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .about__text {
    width: 70vw;
    font-size: 1.85rem;
    line-height: 3rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) and (min-width: 1280px) {
  .about__text {
    width: 61vw;
    font-size: 26px;
    line-height: 3rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .about__lowertext {
    line-height: 10px;
    font-weight: 600;
    font-size: 24px;
  }
}
@media screen and (min-width: 320px) and (min-width: 1280px) {
  .about__lowertext {
    line-height: 10px;
    font-weight: 600;
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) {
  .about__title {
    position: relative;
    left: -1.9375rem;
    color: #323232;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .about__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-weight: 600;
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .content {
    position: relative;
    left: 0.875rem;
    width: 94%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .content__title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .content__title {
    font-size: 1.9375rem;
    line-height: 2.75rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: black;
  }
}
@media screen and (min-width: 320px) and (min-width: 1280px) {
  .content__title {
    font-size: 25px;
    color: black;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) and (min-width: 767px) {
  .content__paragraph {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .content__paragraph {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5rem;
    font-weight: 400;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .content {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .content__container {
    display: flex;
    padding-left: 9rem;
    width: 85%;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) {
  .gallery {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    background-color: rgba(175, 175, 175, 0.1019607843);
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .gallery {
    padding: 2rem;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .gallery__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .gallery__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) {
  .gallery__item {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .gallery__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (min-width: 1280px) {
  .gallery__item {
    width: 80%;
  }
}
.gallery__img {
  display: flex;
  padding-bottom: 1.25rem;
  gap: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 8.1875rem;
  width: 60%;
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .gallery__img {
    display: flex;
    padding: 0.5rem;
    height: 8.1875rem;
    flex-direction: row;
    width: 30%;
  }
}
.gallery__img:hover {
  filter: grayscale(0%);
}

.footer {
  display: flex;
  background-color: #323232;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  text-decoration: none;
  padding: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    display: flex;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 767px) {
  .footer {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
.footer__logo {
  padding-top: 20px;
  position: relative;
  left: 0;
  top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    left: 35rem;
  }
}
.footer__legal {
  padding-top: 10px;
  display: flex;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    font-weight: 400;
    font-size: 0.875rem;
    position: relative;
    left: -12rem;
    top: 0.625rem;
  }
}
.footer__email {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__icons {
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    position: relative;
    left: -25px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__address h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-weight: 600;
    font-size: 2.5625rem;
    padding-right: 5.125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }
}
.footer__company p {
  padding: 0;
}
@media screen and (min-width: 320px) {
  .footer__mid-section {
    font-weight: 400;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .footer__mid-section {
    gap: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=bio.css.map */