@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: $BandSite-Black;
}

.header {
  @include mobile {
    @include mobile-only-header;
    background-color: #323232;
    text-decoration: none;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1.25rem;
  }
  &__logo {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1.25rem;
    }
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  &__navlinks {
    display: flex;
  }
}

.header__navlinks a {
  @include mobile {
    text-align: center;
    display: flex;
    color: #afafaf;
    text-decoration: none;
    padding: 0.625rem 2.9375rem;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus {
      color: $White;
      border-bottom: 2px solid #ffffff;
      content: "";
      position: relative;
      inset: 0;
    }
  }
  @include tablet {
    @include main-subheader;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  @include desktop {
    font-size: 0.875rem;
    padding-right: 0;
  }
}

.hero {
  color: $White;
  font-family: "Avenir";

  &__image {
    width: 100%;
    height: 50vh;
    background-image: url(/assets/Images/hero-shows.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    background-position: center;
    @include tablet {
      display: flex;
      height: 50rem;
      flex-direction: column;
      justify-content: center;

      @include desktop {
        height: 58rem;
      }
    }
    &__overlay {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $BandSite-Black;
      opacity: 50%;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 600;
    display: flex;
    font-size: 1.9375rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: relative;
    top: 0.25rem;
    left: 0.625rem;
    z-index: 2;

    @include tablet {
      margin-top: 23px;
      font-weight: 600;
      font-size: 60px;
      line-height: 68px;

      @include desktop {
        font-size: 65px;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;

      @include tablet {
        padding-left: 32px;
        padding-bottom: 164px;

        @include desktop {
          padding-left: 9rem;
        }
      }
    }
  }

  &__header {
    font-weight: 400;
    font-size: 600;
    display: flex;
    flex-direction: row;
    color: $White;
    position: relative;
    top: 1.3rem;
    left: 0.625rem;
    z-index: 2;

    @include tablet {
      font-weight: 600;
      font-size: 21px;
      line-height: 1px;
    }
  }
}

.shows {
  @include mobile-only-header;
  gap: 10rem;
}

iframe {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  z-index: 4;

  &__bluefox {
    color: #cccccc;
    text-decoration: none;
  }
  &__lofigirl {
    color: #cccccc;
    text-decoration: none;
  }
}
