@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: #323232;
}

.header {
  background-color: #323232;
  text-decoration: none;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .header {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.25rem;
  }
}
.header__logo {
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.25rem;
  }
}
.header__nav {
  display: flex;
  gap: 4rem;
  margin: 0;
}
.header__nav-link {
  color: #e1e1e1;
  text-decoration: none;
  padding-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
  position: relative;
  flex: 1;
}
.header__nav-link:hover::after, .header__nav-link:focus::after {
  border-bottom: 2px solid #ffffff;
  content: "";
  position: absolute;
  inset: 0;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-link {
    font-size: 1rem;
    padding-right: 0;
  }
}
.header__nav-link.active {
  color: #ffffff;
  font-weight: 700;
}
.header__nav-link.active::after {
  border-bottom: 2px solid #ffffff;
  content: "";
  position: absolute;
  inset: 0;
}

.footer {
  display: flex;
  background-color: #323232;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  text-decoration: none;
  padding: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
    display: flex;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 767px) {
  .footer {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
.footer__logo {
  padding-top: 20px;
  position: relative;
  left: 0;
  top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    left: 35rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    left: 60rem;
  }
}
.footer__legal {
  padding-top: 10px;
  display: flex;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .footer__legal {
    font-weight: 400;
    font-size: 0.875rem;
    position: relative;
    left: -12rem;
    top: 0.625rem;
  }
}
.footer__email {
  text-decoration: none;
  color: #ffffff;
}
.footer__icons {
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    position: relative;
    left: -25px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__company {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-weight: 600;
    font-size: 2.5625rem;
    padding-right: 5.125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }
}
.footer__text {
  padding: 0;
}
.footer__mid-section {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__mid-section {
    gap: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.hero {
  color: #ffffff;
  font-family: "Avenir";
}
@media screen and (min-width: 1280px) {
  .hero__text {
    display: flex;
    flex-direction: row;
  }
}
.hero__image {
  width: 100vw;
  height: 50vh;
  background-image: url(/assets/Images/hero-shows.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__image {
    display: flex;
    height: 50rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__image {
    height: 55rem;
  }
}
.hero__image__overlay {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__title {
  font-weight: 600;
  display: flex;
  font-size: 1.9375rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  position: relative;
  top: 0.25rem;
  left: 0.625rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 23px;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__title {
    padding-right: 109px;
    font-size: 60px;
  }
}
.hero__title__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__title__container {
    padding-left: 32px;
    padding-bottom: 29px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__title__container {
    padding-left: 9rem;
    display: flex;
  }
}
.hero__header {
  font-weight: 400;
  font-size: 600;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  position: relative;
  top: 1.3rem;
  left: 0.625rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-weight: 600;
    font-size: 21px;
    line-height: 1px;
  }
}

.music {
  display: flex;
}
@media screen and (min-width: 768px) {
  .music {
    padding-left: 20px;
    display: flex;
  }
}
.music__link {
  position: relative;
  top: 0;
  left: 10px;
  width: 88vw;
  height: 9rem;
  z-index: 4;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .music__link {
    width: 55%;
    height: 14rem;
    z-index: 4;
  }
}
@media screen and (min-width: 1280px) {
  .music__link {
    width: 33vw;
    display: flex;
    flex-direction: row;
  }
}

.shows {
  padding: 16px;
  font-family: "avenir";
}
.shows__container {
  display: flex;
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
}
.shows__container:hover {
  background-color: #fafafa;
}
.shows__container.clicked {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__container {
    display: flex;
    padding: 0.75rem;
    border-radius: 0.25rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid #afafaf 2px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    left: 310px;
    position: relative;
    width: 60%;
  }
}
.shows__button {
  width: 100%;
  background-color: #323232;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 10rem;
  }
}
.shows__container div {
  color: black;
  font-weight: 400;
  font-size: 15px;
}
.shows__labels {
  color: #afafaf;
  font-weight: 600;
  font-size: 11px;
}
.shows__date-info {
  font-weight: 600;
}
.shows__header {
  font-size: 31px;
  font-weight: 600;
  color: black;
}
@media screen and (min-width: 1280px) {
  .shows__header {
    position: relative;
    left: 51px;
    top: 78px;
    font-size: 42px;
    font-weight: 600;
    color: black;
  }
}/*# sourceMappingURL=shows.css.map */