@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
html {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: #323232;
}

@media screen and (min-width: 320px) {
  .header {
    background-color: #323232;
    text-decoration: none;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (min-width: 767px) {
  .header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1.25rem;
  }
}
.header__logo {
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.25rem;
  }
}
.header__navlinks {
  display: flex;
}

@media screen and (min-width: 320px) {
  .header__navlinks a {
    text-align: center;
    display: flex;
    color: #afafaf;
    text-decoration: none;
    padding: 0.625rem 2.9375rem;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
  }
  .header__navlinks a:hover, .header__navlinks a:focus {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    content: "";
    position: relative;
    inset: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__navlinks a {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__navlinks a {
    font-size: 0.875rem;
    padding-right: 0;
  }
}

.hero {
  color: #ffffff;
  font-family: "Avenir";
}
.hero__image {
  width: 100%;
  height: 50vh;
  background-image: url(/assets/Images/hero-shows.jpg);
  background-size: cover;
  display: flex;
  position: relative;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__image {
    display: flex;
    height: 50rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__image {
    height: 58rem;
  }
}
.hero__image__overlay {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__title {
  font-weight: 600;
  display: flex;
  font-size: 1.9375rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  position: relative;
  top: 0.25rem;
  left: 0.625rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 23px;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__title {
    font-size: 65px;
  }
}
.hero__title__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__title__container {
    padding-left: 32px;
    padding-bottom: 164px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero__title__container {
    padding-left: 9rem;
  }
}
.hero__header {
  font-weight: 400;
  font-size: 600;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  position: relative;
  top: 1.3rem;
  left: 0.625rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-weight: 600;
    font-size: 21px;
    line-height: 1px;
  }
}

.shows {
  gap: 10rem;
}
@media (min-width: 767px) {
  .shows {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

iframe {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  z-index: 4;
}
iframe__bluefox {
  color: #cccccc;
  text-decoration: none;
}
iframe__lofigirl {
  color: #cccccc;
  text-decoration: none;
}/*# sourceMappingURL=shows.css.map */