@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.hero {
  color: $White;
  font-family: "Avenir";
  &__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__image {
    width: 100%;
    height: 50%;
    background-image: url(/assets/Images/hero-shows.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    background-position: center;
    @include tablet {
      display: flex;
      height: 37rem;
      flex-direction: column;
      justify-content: center;

      @include desktop {
        height: 55rem;
      }
    }
    &__overlay {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $BandSite-Black;
      opacity: 0.5;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 600;
    display: flex;
    font-size: 4.0625rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: $White;
    z-index: 2;

    @include tablet {
      margin-top: 23px;
      font-size: 60px;
      line-height: 68px;

      @include desktop {
        padding-right: 6.8125rem;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      padding: 5rem 2rem;

      @include tablet {
        padding-left: 32px;
        padding-bottom: 29px;
      }
    }
  }

  &__header {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: $White;
    z-index: 2;

    @include tablet {
      line-height: 1px;
    }
    @include desktop {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1px;
    }
  }
}

.music {
  padding: 2rem 1rem;
  display: flex;
  @include tablet {
    padding: 0rem 2.5rem;
  }
  @include desktop {
    padding: 0;
  }
  &__link {
    width: 100%;
    z-index: 4;

    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 30rem;
    }
  }
}

.shows {
  padding: 16px;
  font-family: "avenir";
  &__container {
    border-bottom: solid #afafaf 2px;
    display: flex;
    padding: 1.2rem;
    margin-bottom: 0.625rem;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      background-color: $Alabaster;
    }

    &.clicked {
      background-color: $Mercury;
    }

    @include tablet {
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: solid #afafaf63 2px;
    }
    @include desktop {
      width: 60rem;
      position: relative;
      top: 0;
      left: 15rem;
    }
  }

  &__button {
    width: 100%;
    background-color: $BandSite-Black;
    color: white;
    padding: 10px 15px;
    border-radius: 0.25rem;
    @include tablet {
      width: auto;
    }
    @include desktop {
      width: 25%;
    }
  }
  &__container div {
    color: black;
    font-weight: 400;
    font-size: 15px;
  }
  &__labels {
    color: $Silver;
    font-weight: 600;
    font-size: 11px;
  }
  &__date-info {
    font-weight: 600;
  }
  &__header {
    margin: 0;
    padding: 1.2rem;
    font-size: 36px;
    font-weight: 600;
    color: black;
    @include tablet {
      padding: 1.5rem;
    }
    @include desktop {
      font-size: 42px;

      left: 19px;
      top: 89px;
      position: relative;
    }
  }
}
